/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 серп. 2016, 8:18:30
    Author     : us9522
*/
.list_matches, .btnExit, .container-fluid, .sector_o, .sector_p, .sector_l, .bottom_forms, 
.nameTeams, .modal-header, .modal-footer, .btn, label{
    display: none;
}



.btn_place{
    color: #FFF;
    background: #FFF;
    border-color: #FFF;
    font-size: 0;
}

.form-control{
    border: 0;
    float: left;
    width: 55px;
    height: 40px;
    font-size: 400%;
}




