/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 серп. 2016, 8:18:30
    Author     : us9522
*/
.list_matches, .btnExit, .container-fluid, .sector_o, .sector_p, .sector_l, .bottom_forms, 
.modal-header, .modal-footer, .btn, label{
    display: none;
}

#PIP{
    display: none;
}

.nameTeams{
    float: left;
    font-size: 300%;
    margin-top: 15px;
    margin-left: 50px;

}

.btn_place{
    color: #FFF;
    background: #FFF;
    border-color: #FFF;
    font-size: 0;
}

.form-control{
    border: 0;
    float: left;
    width: 120px;
    height: 40px;
    font-size: 290%;
    margin-top: 310px;
    margin-left: 520px;
    margin-right: 0;
    padding-right: 0;
}

.row_print{
    margin-left: 15px;
}

.number_print{
    margin-left: 15px;
    float: left;
}

.price_print{
    position: absolute;
    margin-top: 310px;
    margin-left: 870px;
}

.dateMatch{
    float: left;
    color: #fff;
    font-size: 270%;
    margin-left: 290px;
    margin-top: 15px;
}

.form-controlC, .form-controlD, .form-controlE{
    font-size: 500%;
}




