/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 серп. 2016, 11:26:58
    Author     : us9522
*/


#btn_update{
    position: relative;
}

.forms{
    margin-top: 15px;
}

.container{
    width: 660px;
}

.sector_info{
    padding: 10px;
}

.name{
    margin-left: 215px;
    font-size: 125%;
}

.price{
    margin-left: 60px;
    font-size: 125%;
}